<!DOCTYPE>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kamien/papier/nozyce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_template.css') }}">
    <meta name="description" content="Najlepsza strona na świecie">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="topnav"> 
        <a href="{{url_for('index') }}">Home</a>
        <a href="{{ url_for('bmi') }}">BMI</a>
        <a href="{{ url_for('date') }}">date</a>    
        <a href="{{ url_for('generator') }}">password generator</a>  
        <a class="active" href="{{ url_for('kamien') }}">rock paper scissors</a>  
    </nav> 
    <br><br><br><br><br>
    <h1 style="text-align:center">Let's play game</h1>

    <div style="text-align:center">
        <form action="/kamien" method="POST">
            <label>Your choice: </label> <input type="text" name = "choice" placeholder="scissors rock or paper" required><br>
            <br><br>
            <button type="submit" value="submit">Check</button>
        </form>
        <p>{{wynik}}</p>
    </div>
    
</body>

</html>
