<!DOCTYPE>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>moja strona - turecki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_template.css') }}">
    <meta name="description" content="Najlepsza strona na świecie">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="topnav"> 
        <a href="{{url_for('index') }}">Home</a>
        <a href="{{ url_for('bmi') }}">BMI</a>
        <a href="{{ url_for('date') }}">date</a>    
        <a href="{{ url_for('generator') }}">password generator</a>
        <a href="{{ url_for('kamien') }}">rock paper scissors</a>  
        <a class="active" href="{{ url_for('turecki') }}">turecki</a>  
    </nav> 
    <br><br><br><br><br>
    <h1 style="text-align:center"></h1>

    <div style="text-align:center">
        <p>tęcza - gökkuşağı</p>
        <p>rok później - bir ay sonra</p>
        <p>wakacje - tatil</p>
        <p>przepraszam - üzgünüm</p>
    </div>


    
</body>

</html>
